<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Company Home Page </title>

</head>
<body>
<h2>Company Home Page HIHIHIHHIHI</h2>
<hr>
<p>Welcome to the company home page</p>
<hr>
<p>
    User: <span sec:authentication="principal.username"></span>
    <br><br>
    Role(s): <span sec:authentication="principal.authorities"></span>
</p>
<hr>
<!-- add a link to point to /leaders -->
<div sec:authorize="hasRole('MANAGER')">
<p>
    <a th:href="@{/leaders}">Leadership Meeting</a>
    (Only for manager)
</p>
</div>
<!-- add a link to point to /systems -->
<div sec:authorize="hasRole('ADMIN')">
<p>
    <a th:href="@{/systems}">System Meeting</a>
    (Only for admin)
</p>
</div>

<hr>
<form action="#" th:action="@{/logout}" method="POST">
    <input type="submit" value="Logout">

</form>
</body>
</html>